<!DOCTYPE html>
<html ng-app="qAnMp">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="questions.css">
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<script src="//cdnjs.cloudflare.com/ajax/libs/hammer.js/1.1.3/hammer.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<body ng-controller="getQuestions">
<div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
            <ul class="event-list">
                <li ng-repeat="question in questions | orderBy : 'priority' | limitTo : display" >
                    <time datetime="{{myDate | date:'mediumDate'}}">
                        <span class="day">{{myDate | date: 'dd'}}</span>
                        <span class="month">{{myDate | date: 'MMM'}}</span>
                        <span class="year">{{myDate | date: 'yyyy'}}</span>
                    </time>
                    <img id="unlocked" ng-src="{{question.imgSrc}}" ng-click="lockQuestion(question)">
                    <div class="info" ng-dblclick="newQuestion(question)">
                        <h2 class="title">Would you rather...</h2>
                        <p class="desc">{{question.wording}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>




	<button type="button" class="btn btn-primary" ng-show="isReadyToSubmit()"> Sumbit your questions </button>
      <script src="/bower_components/angular/angular.js"></script>
       <script src="/bower_components/angular-touch/angular-touch.js"></script>
      <!-- scripts.js -->
      <script src="js/app.js"></script>
      <script src="js/app.config.js"></script>
      <script src="swipeQuery.js"></script>
      <!-- <script src="js/services/contacts_service.js"></script> -->
      <script src="js/controllers/getQuestions_controller.js"></script>


</body>

</html>